.headerContainer {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  @media (max-width: 900px) {
    display: none;
  }

  .socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .social {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      .icon {
        margin: 0 5px;
        transition: all 0.3s ease-in;
        cursor: pointer;
        &:hover {
          color: #dec481;
        }
      }
    }
  }
}
