.headerContainer {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  @media (max-width: 900px) {
    display: none;
  }
  .menu {
    font-size: 20px;
    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 20px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          color: #dec481;
        }
        a {
          padding: 5px 8px;
        }
      }
      .activeLink {
        background-color: #dec481;
        border-radius: 10px;
        color: white;
      }
    }
  }

  .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .social {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      .icon {
        margin: 0 5px;
        transition: all 0.3s ease-in;
        cursor: pointer;
        &:hover {
          color: #dec481;
        }
      }
    }
  }
}
